.training-card {
    border: 1px solid $cardColor;

    .img-container{
        height: 150px;
        display: flex;
        align-items: center;
        padding: 10px;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}
