/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/

$body-bg: pink;
$body-color: red;
//$sw-color-brand-primary: red;
//$primary: yellow;
$enable-rounded: false;
