{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
   <h1>My Content</h1>
   <p>ksjflskfjls</p>
   <p>aksdflöasdlöasdklä</p>
   <ul>
       <li class="test"></li>
       <li class="test">adksjdlaj</li>
   </ul>

    <div>
        {{ page.product.customFields.custom_training_text | raw }}
    </div>
{% endblock %}
